<div class="settings-container">
    <h2>Settings</h2>

    <!-- News Source Selection -->
    <!-- <div class="news-source-selection">
            <h3>Select News Sources for Analysis</h3>
            <div class="checkbox-group">
                <div>
                    <input type="checkbox" id="newsSource1" name="newsSource1">
                    <label for="newsSource1">News Source 1</label>
                </div>
                <div>
                    <input type="checkbox" id="newsSource2" name="newsSource2">
                    <label for="newsSource2">News Source 2</label>
                </div>
            </div>
        </div> -->


    <!-- Robinhood Integration -->
    <div class="robinhood-integration">

        <button class="update-investments-btn" (click)="toggleMode($event)">
            Update Investments from Robinhood
        </button>

        <form (ngSubmit)="updateInvestmentsFromRobinhood(f)" #f="ngForm" *ngIf="robinHoodLogin">

            <!-- Robinhood Email -->
            <div class="form-group">
                <label for="email">Robinhood Email:</label>
                <input type="email" id="email" name="email" ngModel>
            </div>

            <!-- Robinhood Password -->
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" ngModel>
            </div>

            <!-- Submit button -->
            <button type="submit">Import</button>

        </form>
    </div>

    <!-- Save Button -->
    <button type="submit" class="save-settings-btn">Save Settings</button>

    <!-- Back Button to Portfolio Dashboard -->
    <button class="back-btn" (click)="goBackToDashboard()">Back to Dashboard</button>
</div>